*{
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}

body{
    background-color: rgb(41, 41, 90);
}

.login{
 max-width: 900px;
 margin: auto;
 margin-top: 70px;
 width: auto;
 
}

.loginpage h4{
 text-align: center;
 margin-bottom: 10px;
 font-size: 30px;
}

.empty{
    display: none;
}

.loginform{
    display: flex;
    border: 5px solid rgb(101, 101, 188);
    border-radius: 15px 3px ;
    width: auto;
}

.loginform1{
    display: flex;
    
    width: auto;
}


@media screen and (min-width: 768px){
    
    .loginform{
        
       height: auto;
       margin: auto;
       margin-bottom: 25px;
    }

    #field-form{
        width: 777px;

    }

    #or1{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    #or1::before,#or1::after
   {
    
    content: "";
    background: rgb(27, 27, 99);
    width: auto;
    height: 2px;
    display: block;
   }

    #soc{
      width: auto;
    }


    #media{
        max-width: 130px;
        margin: auto;
    }

    #imaga img{
        width: 100%;
    }

    #button{
        min-width: auto;
        width: 100%;
    }

}

@media screen and (max-width: 600px) and (min-width: 100px){
    .loginform{
        max-width: 420px;
        margin: auto;
        display: block;
        margin-left: 4px;
        margin-bottom: 25px;

    }

    .loginform1{
        max-width: 420px;
        margin: auto;
        margin-left: 4px;
       height: auto;
       margin-top: 40%;

    }

    .loginform1 #field-form{
        max-width: 420px;
        margin: auto;
       
    }

    .form{
        width: auto;
       
    }

    #button{
        min-width: auto;
        width: 100%;
    }

    #field-form{
        width: auto;
       
    }

    #imaga img{
        width: 100%;
        height: 400px;
    }

    #social{
        display: block;
    
    }

    #soc{
        width: auto;
        margin-left: 5px;
    }

    #or1{
        display: none;
    }

   
    #social #or{ 
        display: grid;
    }

   #social #or::before,#social #or::after
   {
    
    content: "";
    background: rgb(27, 27, 99);
    width: auto;
    height: 2px;
    display: block;
   }

   

    .field input{
        width: auto;
        padding: auto;
    }

    #media{
        max-width: 400%;
        margin: auto;
    }

    #lin {
        padding: auto;
        margin: auto;
    }

    #pstreng #strenth,#strenth2,#strenth3,#strenth4,#strenth5{
        width: auto;
        padding-right: 30px;
    }

    #homepage{
        max-width: 350px;
       margin: auto;
       
       min-height: 560px;
       margin: auto;
       margin-top: 39px;
    }

    .word h1{
        font-size: 30px;
    }

    .form .label, #pass2{
        font-size: 13px;
    }

    #soc img{
        width: 10px;
    }
    #soc p{
        font-size: 12px;
    }

}



.imaga img{
   width: 300px;
   height: 100%;
}

form{
    padding: 80px;
    background: white;
    width: 590px;
}

.form1{
    border: 5px solid rgb(101, 101, 188);
    border-radius: 15px 3px ;
}

/***open and close**/

.open img{
    width: 25px;
    position: absolute;
    bottom: 146px;
    right: 580px;
    display: none;
}

#user1{
    display: flex;
    width: 100%;
    height: 40px;
    border: 3px solid rgb(119, 119, 240);
    border-radius: 10px ;
}

#user1 input{
    width: 100%;
    border: 0;
    background: none;
}


#user1 img{
    margin: auto;
    width: 25px;
    height: 15px;
    margin-left: -30px;
    cursor: pointer;
}

.close img{
    width: 25px;
    position: absolute;
    bottom: 146px;
    right: 580px;
    display: none;
}

.close1 img{
    width: 25px;
    position: absolute;
    bottom: 146px;
    right: 580px;
    bottom: 76px;
    display:none
}
/***open and close**/

/***password strength**/
.pstreng{
    display: flex;
}

.strenth{
  width: 40px;
  height: 2px;
  margin-top: 10px;
  margin-left: 5px;
  padding-right: 75px;
  border: 2px solid rgb(182, 182, 235);
  border-radius: 10px 10px;
}

span{
    color: rgb(119, 119, 240);;
}

/***password strength**/
.loginpage{
 color:rgb(27, 27, 99);
}

.form{
    margin-top: -10px;
}

.label{
    font-size: 20px;
    margin-top: 20px;
}

.field input{
    width: 100%;
    height: 40px;
    border: 3px solid rgb(119, 119, 240);
    border-radius: 10px;
    outline: 0;
}

.field p{
    display: none;
}

.forget a{
    text-decoration: none;
    color:rgb(119, 119, 240) ;
}

.forget p{
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

button{ 
    min-width: 430px;
    margin: auto;
    height: 40px;
    background: rgb(27, 27, 99);
    border-radius: 15px;
    cursor: pointer;
    margin-left: 15px;
    color: white;
    margin-top: 20px;
    margin-left: -1px;
}

button:hover{
    background: rgb(79, 79, 219);
}

/***socials**/

.social{
    display:flex;
}

.soc{
    display: flex;
    border: 2px solid rgb(27, 27, 99);
    width: 300px;
    padding: 10px;
    height: 40px;
    margin-top: 10px;
}

.soc{
    font-size: 25px;
    margin-right: 10px;
    margin-top: 3%;
}

.soc p{
    font-size: 14px;
    margin-left: 10px;
}



.media{
    display: flex;
    margin-left: 40px;
}

.media .lin{
    margin: 10px;
    border: 2px solid rgb(27, 27, 99);
    padding: 10px;
    height: 40px;
}

.media .lin img{
    width: 25px;
    margin-top: -6px;
}



.or{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#or{
    
    display:none;

}



.or::before,.or::after
{
    content: "";
    background: rgb(27, 27, 99);
    width: 189px;
    height: 2px;
    display: block;
}


/***socials**/

/***checkbox**/
.box{
    display: flex;
    margin-top: 10px;
}

.box .tick input{
    border: 4px solid rgb(84, 84, 213);
   margin-right: 6px;
}

.box .tet p{
    font-size: 15px;
}
/***checkbox**/


/***homepage**/
.homepage{
    background: white;
    height: 500px;
    border: 5px solid rgb(101, 101, 188);
    border-radius: 15px 3px ;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}

.home{
    max-width: 400px;
    margin: auto;
    padding-top: 150px;
}

.word h1{
    text-align: center;
    margin-bottom: 20px;
}

/***homepage**/

/**forget**/
#form{
    max-width: 2000px;
    margin: auto;
    border: 5px solid rgb(101, 101, 188);
    border-radius: 15px 3px ;
}
/**forget**/